<div class="content">


  <div class="header">AG-Grid Styles</div>

  <div class="grid-holder">

    <ag-grid-angular
      id="grid"
      class="ag-theme-balham"
      [rowData]="rowData"
      [columnDefs]="columnDefs"

      [headerHeight]="36"
      [suppressHorizontalScroll]="false"
      [groupIncludeFooter]="true"
      [stopEditingWhenGridLosesFocus]="false"
      [sideBar]="false"
      [singleClickEdit]="true"

      rowSelection="single"
    >
    </ag-grid-angular>

  </div>


</div>
